In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [3]:
#menampilkan tipe struktur data
type(T1)

tuple

In [4]:
type(T11)

tuple

Sifat-Sifat Tuple

In [5]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [6]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [7]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [8]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [9]:
#Tidak dapat menambahkan elemen baru
T1 = (1, "dua", True, 1+2j)
print(f'tuple\t:{T1}')

tuple	:(1, 'dua', True, (1+2j))

In [10]:
T1.append(10)
T1.append(50)
print(f'tuple\t: {T1}')

AttributeError: ignored

In [11]:
#Tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f'tuple\t:{T1}')

tuple	:(1, 'dua', True, (1+2j))

In [12]:
T1.remove(1)
T1.remove("dua")
print(f'tuple\t:{T1}')

AttributeError: ignored

In [13]:
#menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)